/* 样式表：保持画布居中，背景灰 */

html, body {
    height: 100%;
  }
  
  body {
    background-color: #333;
    margin: 0;
    display: flex;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
  }
